@import '../../colors.scss';

section.login {
    height: 100vh;
    overflow: hidden;
    background-color: $primary-color;
    background-image: linear-gradient(to top, #cbd2e7, #c7e0ed, #c7deed, #c6e4f0, #cbd3e7);
    h1 {
        margin: 0px;
        font-weight: 100;
        color: $primary-color;
    }
}
.login__card {
    width: 90%;
    max-width: 340px;
    margin: 0px auto;
    text-align: center;
    padding: 30px 20px;
    background-image: url(../../assets/img/figure_top.svg), url(../../assets/img/figure_bottom.svg);
    background-repeat: no-repeat;
    background-position: -50px -70px, 305px 360px;
    img {
        width: 200px;
        margin-top: 10px;
    }
    @media screen and (max-width: 600px) {
        max-width: 240px;
        background-position: -50px -70px, 195px 360px;
    }
}